# Data Structures

# 1. Lists

Lists are most similar to strings.<br>

both types support the len function, indexing, and slicing.

In [167]:
lst=['January','February','March','April','May','June','July','August','September','October','November','December']

In [168]:
print(type(lst))

<class 'list'>

In [3]:
len(lst)

12

### Indexing

In [169]:
print(lst[0])
print(lst[1])
print(lst[-1])

January
February
December

In [171]:
print(lst,end='')

['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

### Slicing

In [172]:
print(lst[2:7])

print(lst[:5])

print(lst[6:])

print(lst[6::2])

print(lst[6::-1])

print(lst[-3:])#last three elements
print(lst[9:])

['March', 'April', 'May', 'June', 'July']
['January', 'February', 'March', 'April', 'May']
['July', 'August', 'September', 'October', 'November', 'December']
['July', 'September', 'November']
['July', 'June', 'May', 'April', 'March', 'February', 'January']
['October', 'November', 'December']
['October', 'November', 'December']

### Appending to a list with Operation "+="

In [173]:
a_list = []

for i in range(1, 6):
    a_list += [i]

In [174]:
a_list

[1, 2, 3, 4, 5]

In [175]:
a_list.append(6)
a_list

[1, 2, 3, 4, 5, 6]

### Concatenation
Operation "+" performs concatenation on lists

In [177]:
lst1=[1,2,3]

lst2=[4,5,6,1,1]

new=lst1 + lst2
new

[1, 2, 3, 4, 5, 6, 1, 1]

### Deleting items

In [178]:
new

[1, 2, 3, 4, 5, 6, 1, 1]

In [179]:
#removing by indicies
del new[-1]

In [180]:
new

[1, 2, 3, 4, 5, 6, 1]

In [181]:
#removing by values

new.remove(6)

In [182]:
new

[1, 2, 3, 4, 5, 1]

In [183]:
new.remove(1)
new

[2, 3, 4, 5, 1]

### Appending via .append() function

In [185]:
color_names = ['orange', 'yellow', 'green']

color_names.append("black")
print(color_names,end=' ')

['orange', 'yellow', 'green', 'black']

### Inserting an Element at a Specific List Index

In [189]:
color_names.insert(1, 'brown')
print(color_names,end=' ')

['red', 'brown', 'orange', 'yellow', 'green', 'black', 'indigo', 'violet', ['indigo', 'violet']]

### Inserting more than one Element

In [186]:
color_names.extend(['indigo', 'violet'])
print(color_names,end=' ')

['orange', 'yellow', 'green', 'black', 'indigo', 'violet']

In [187]:
# .append() adds one object at the end of lists
color_names.append(['indigo', 'violet'])
print(color_names,end=' ')

['orange', 'yellow', 'green', 'black', 'indigo', 'violet', ['indigo', 'violet']]

### Search values

In [191]:
numbers=[20, 6, 14, 2, 18]

numbers.index(56)

ValueError: 56 is not in list

In [28]:
numbers=[20, 6, 14, 2, 18]
print(f"the index of value= 20 is: {numbers.index(20)}")
print(f"the index of value= 14 is: {numbers.index(14)}")
print(f"the index of value= 3 is: {numbers.index(3)}")

the index of value= 20 is: 0
the index of value= 14 is: 2

ValueError: 3 is not in list

### Reversing a list

In [192]:
numbers

[20, 6, 14, 2, 18]

### 1.

In [193]:
numbers[::-1]

[18, 2, 14, 6, 20]

In [194]:
numbers #remains unchaged

[20, 6, 14, 2, 18]

### 2.

In [195]:
numbers

[20, 6, 14, 2, 18]

In [196]:
numbers.reverse()

[18, 2, 14, 6, 20]

In [197]:
print(numbers)

[18, 2, 14, 6, 20]

### enumerate()

In [198]:
colors = ['red', 'orange', 'yellow']

list(enumerate(colors))

[(0, 'red'), (1, 'orange'), (2, 'yellow')]

___

### Differences between *lists* and *strings* : <br>

1. lists are mutable but strings are immutable
2. lists can obtain any type of object but strings only contain characters

What is mutability?<br>
being able to change an object's values after its creation

#### 1.

In [199]:
a=[1,2,3]

b='123'

print(type(a))
print(type(b))

<class 'list'>
<class 'str'>

In [200]:
a[0]=7 #you can change list's elements because it is mutable.
print(a)

[7, 2, 3]

In [201]:
b[0]

'1'

In [202]:
b[0]=7
print(b)

TypeError: 'str' object does not support item assignment

#### 2.

In [205]:
lst=[1,2,[1,2,3],[[4,4],[1,2,3]],{2,3},(4,4)]
lst[4]

{2, 3}

In [207]:
type(lst)

list

### More about refrences

In [213]:
a=[1,2,3]

b=a #copies the refrence

c=a.copy() #creates a new object

Python’s **is** operator returns True if its two operands have the same identity (point to same object )

In [209]:
print(a is b)
print(a is c)

True
False

In [210]:
b[0]=44
print(b)
print(a)

[44, 2, 3]
[44, 2, 3]

In [211]:
c.append(4)
print(c)
print(a)

[1, 2, 3, 4]
[44, 2, 3]

In [214]:
print(f"a is {a},b is {b} and c is {c}")
b[0]=144 #we mutate or change a value of b
c[2]=43
print(f"\n a is {a},b is {b} and c is {c}")

a is [1, 2, 3],b is [1, 2, 3] and c is [1, 2, 3]

 a is [144, 2, 3],b is [144, 2, 3] and c is [1, 2, 43]

You interact with an object via a reference, which behind the scenes is that object’s address (or location) in the computer’s memory—sometimes called a "pointer" in other languages.

In [215]:
x=7

 After an assignment like x = 7 ,<br>the variable x does not actually contain the value 7. Rather, it contains a reference to an object containing 7.

In [216]:
def modify(x): #function's argument is a immutable object
    x=4
    print('x printed from modify:', x)

In [217]:
modify(x)
print(x)

x printed from modify_global: 4
7

When a variable with reference to a mutable object ,like a list, is passed to a function, the function can modify the original object.

In [220]:
def modify_elements(items):
    for i in range(len(items)):
        items[i] *= 2

In [221]:
numbers = [10, 3, 7, 1, 9]
modify_elements(numbers)
numbers

[20, 6, 14, 2, 18]

In [222]:
numbers_tuple = (10, 20, 30)
modify_elements(numbers_tuple)
numbers_tuple

TypeError: 'tuple' object does not support item assignment

## Useful Functions for Lists I
1. len() returns how many elements are in a list.
2. max() returns the greatest element of the list. 
3. min() returns the smallest element in a list.

In [223]:
a=[4,7,1,2,144]
print(len(a))
print(max(a))
print(min(a))

5
144
1

4. **sorted() returns a copy of a list in order from smallest to largest, leaving the list unchanged.**
5. **sort** is a method that changes the list in place.

In [224]:
print(sorted(a))

[1, 2, 4, 7, 144]

In [225]:
print(a)# As you can see, a is unchanged

[4, 7, 1, 2, 144]

In [226]:
print(sorted(a,reverse=True))

[144, 7, 4, 2, 1]

In [227]:
a.sort(reverse=True)
print(a)

[144, 7, 4, 2, 1]

## Useful Functions for Lists II
**join** is a string method that takes a **list of strings** as an argument, and returns a string consisting of the list elements joined by a separator string.

In [228]:
a=['January','February','March','April']
a

['January', 'February', 'March', 'April']

In [232]:
print("@".join(a))

January@February@March@April

In [82]:
print(" and ".join(a))
print(" - ".join(a))

January and February and March and April
January - February - March - April

In [233]:
a=['January','February','March',43] #because it was not a list of strings
print("-".join(a))

TypeError: sequence item 3: expected str instance, int found

#### Order matters!

In [234]:
a=[1,2,3]
b=[2,3,1]
print(a==b)

False

___

____

# 2. Tuples
A tuple is an **immutable** ordered sequences of elements which can be accessed by their indices.<br>
You can not add or remove items from tuples or sort them in place.<br>
So, why do we use them? they are useful when you want to save closely related values that are always used together

In [236]:
a=(1,2,3)
print(type(a))

<class 'tuple'>

In [235]:
b= 1,2,3

print(type(b))

<class 'tuple'>

#### Orders matters!

In [237]:
a=(1,2,3)
b=(3,2,1)
print(a == b)

False

### Tuple unpacking

In [241]:
dimensions= (25,-43,50)

length, width, height = dimensions


print(f"length is {length}, width is {width} and the height is {height}")

length is 25, width is -43 and the height is 50

In [242]:
print(length)
print(width)
print(height)

25
-43
50

___

### More on immutability

In [243]:
a.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [244]:
a.remove(3)

AttributeError: 'tuple' object has no attribute 'remove'

In [108]:
a.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [92]:
a=(343,1,2,33)
print(sorted(a,reverse=True))
print(a)

[343, 33, 2, 1]
(343, 1, 2, 33)

# 3.Sets
Sets are containers of **unique** elements wothout any particular ordering. <br>
you can modify the elements in a set with methods like **add and pop**, so it's mutable.

In [246]:
sett={3,2,21,121,3,3,3}

print(sett)

print(type(sett))

{121, 2, 3, 21}
<class 'set'>

#### Order does not matter !

In [248]:
a={1,2,3,3,3,3}
b={2,3,1}
print(a == b)

True

Because order does not matter, there are no slicing and indexing in sets.

In [249]:
a[0]

TypeError: 'set' object is not subscriptable

### Instead of append method, sets have "add" method.

In [250]:
print(sett)

{121, 2, 3, 21}

In [251]:
sett.add(55)
print(sett)

{2, 3, 21, 55, 121}

# 4.Dictionaries
A dictionary is a mutable, unordered data structure that contains mappings of keys to values

In [252]:
elements={'hydrogen':1 , "helium": 2, "carbon":6}
elements

{'hydrogen': 1, 'helium': 2, 'carbon': 6}

#### Order does not matter!

In [253]:
elements1={'hydrogen':1 , "helium": 2, "carbon":6}
elements2={"helium": 2, 'hydrogen':1 , "carbon":6}
elements1 == elements2

True

#### Looking up for values (by keys)

In [133]:
print(elements['carbon'])

6

In [254]:
elements.get('carbon')

6

#### Adding new pairs

#### 1. Via keys

In [255]:
elements['lithium']=3
print(elements)

{'hydrogen': 1, 'helium': 2, 'carbon': 6, 'lithium': 3}

In [256]:
elements['neon']=10
elements

{'hydrogen': 1, 'helium': 2, 'carbon': 6, 'lithium': 3, 'neon': 10}

#### 2. via update() function

In [257]:
elements.update({'cat':10})
elements

{'hydrogen': 1, 'helium': 2, 'carbon': 6, 'lithium': 3, 'neon': 10, 'cat': 10}

#### Keys can have different types

In [258]:
elements[3453]=45
print(elements)

{'hydrogen': 1, 'helium': 2, 'carbon': 6, 'lithium': 3, 'neon': 10, 'cat': 10, 3453: 45}

#### Searching by keys

In [126]:
print('carbon' in elements)

True

In [146]:
print(elements['helium'])

2

In [259]:
print(elements['dhelium'])

KeyError: 'dhelium'

To avoid keyError when searching in dictionaries, you can use **get** method

In [260]:
print(elements.get('dhelium'))

None

In [148]:
print(elements.get('helium'))

2

--Exercise

   Key     |   Value
   --------|----------
 Shanghai  |   17.8
 Istanbul  |   -13.3
 Karachi   |   13.0
 Mumbai    |   12.5

In [232]:
population= {"Shanghai":17.8 , "Istanbul":13.3 , "Karachi":13.0,"Mumbai":12.5}
population

{'Shanghai': 17.8, 'Istanbul': 13.3, 'Karachi': 13.0, 'Mumbai': 12.5}

In [233]:
population['Iran']=80
population

{'Shanghai': 17.8,
 'Istanbul': 13.3,
 'Karachi': 13.0,
 'Mumbai': 12.5,
 'Iran': 80}

In [234]:
population.update({'USA':350})
population

{'Shanghai': 17.8,
 'Istanbul': 13.3,
 'Karachi': 13.0,
 'Mumbai': 12.5,
 'Iran': 80,
 'USA': 350}

***Dictionary keys must be immutable; so, they must be of a type that is not modifiable

In [261]:
animals = {'dogs': [20, 10, 15, 8, 32, 15], 'cats': [3,4,2,8,2,4], 'rabbits': [2, 3, 1,1,1,3], 'fish': [0.3, 0.5, 0.8, 0.3, 1,1]}
animals

{'dogs': [20, 10, 15, 8, 32, 15],
 'cats': [3, 4, 2, 8, 2, 4],
 'rabbits': [2, 3, 1, 1, 1, 3],
 'fish': [0.3, 0.5, 0.8, 0.3, 1, 1]}

In [262]:
animals['fish']

[0.3, 0.5, 0.8, 0.3, 1, 1]

In [263]:
animals.get('fish')

[0.3, 0.5, 0.8, 0.3, 1, 1]

In [264]:
animals[3] #dictionaries are unordered

KeyError: 3

In [265]:
animals

{'dogs': [20, 10, 15, 8, 32, 15],
 'cats': [3, 4, 2, 8, 2, 4],
 'rabbits': [2, 3, 1, 1, 1, 3],
 'fish': [0.3, 0.5, 0.8, 0.3, 1, 1]}

In [161]:
import pandas as pd
pd.DataFrame(data=animals)

   dogs  cats  rabbits  fish
0    20     3        2   0.3
1    10     4        3   0.5
2    15     2        1   0.8
3     8     8        1   0.3
4    32     2        1   1.0
5    15     4        3   1.0

____

___

# Compound Data Structures
We can include containers in other containers to create compound data structures. For example, this dictionary maps keys to values that are also dictionaries!

In [267]:
elements = {"hydrogen": {"number": 1,
                         "weight": 1.00794,
                         "symbol": "H"},
              "helium": {"number": 2,
                         "weight": 4.002602,
                         "symbol": "He"}}

In [268]:
elements["helium"]

{'number': 2, 'weight': 4.002602, 'symbol': 'He'}

In [175]:
elements["helium"]["weight"]

4.002602

___

# Conclusion

Data Structure |Ordered | Mutable | Constructor | Example
---------------|--------|---------|-------------|--------
List           | Yes    | Yes     |[ ] or  list()| [1,2,3]
Tuple          | Yes    | No      | ( ) or tuple()| (1,2,3)
Set            | No     | Yes     | {} or set()   | {1,2,3}
Dictionary     | No     | Yes     | {} or dict()  | {'Jun': 75, 'Jul': 89}

If you leave the curly braces empty like this: {} , Python will instead create an empty dictionary. So to create an empty set, use set()

** **A dictionary itself is mutable, but each of its individual keys must be immutable.**

## Place Holders (string formats)

## 1.

The ‘f-string’ syntax was introduced in Python 3.6. It is not available in earlier versions of Python.

In [270]:
x=18
print(f"our stocks have fallen to {x} percent")

our stocks have fallen to 18 percent

## 2.

In [271]:
x=17
print("our stocks have fallen to {}percent".format(x))

our stocks have fallen to 17percent

In [272]:
print("this is {} string with {} reserved spaces{}".format('a',3,'.'))

this is a string with 3 reserved spaces.

In [236]:
tool="Unsupervised algorithms"
goal="patterns"

print("{title} try to find {aim} in the dataset".format(title=tool, aim=goal))

Unsupervised algorithms try to find patterns in the dataset

In [273]:
print("Only {0:f}% of the {1} produced worldwide is {2}!". format(0.5155675, "data", "analyzed"))

Only 0.515567% of the data produced worldwide is analyzed!

In [241]:
print("Only {0:.2f}% of the {1} produced worldwide is {2}!".format(0.5155675, "data", "analyzed"))

Only 0.52% of the data produced worldwide is analyzed!

In [242]:
print("Only {0:.3f}% of the {1} produced worldwide is {2}!".format(0.5155675, "data", "analyzed"))

Only 0.516% of the data produced worldwide is analyzed!

__________

_________

In [9]:
import pandas as pd
ds1 = pd.Series([2, 4, 6, 8, 10],index=['A','B','C','D','E'])

print(ds1)

A     2
B     4
C     6
D     8
E    10
dtype: int64

In [8]:
a={'a':1,'b':2}
pd.Series(a)

a    1
b    2
dtype: int64

In [14]:
df

   col1  col2
0    16     2
1    17     3
2    18     4

In [15]:
df['col2']=df['col2']/df['col1']

In [16]:
df

   col1      col2
0    16  0.125000
1    17  0.176471
2    18  0.222222